
@import url('https://fonts.googleapis.com/css?family=Domine:700&display=swap');

.App {
  text-align: center;
  /* background-image: url("/ClimbingGym.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  /* background-color: #E9ECEF */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#overview{
  width: 100vw;
}

#appbackground{
  background-image: url("/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  
}

#appcard{
  background-color: rgba(0,0,0,0.5);
  color: white;
}

#appbanner{
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-family: 'Domine', serif;
}

#homebanner{
  font-family: 'Domine', serif;
  background-image: url('/holds.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}

#routeTable{
  overflow: auto;
}


